td i:hover {
	color: #0085C3;
	cursor: pointer;
}
td .dis-btn:hover,td .add-btn:hover {
	color: #0085C3;
	cursor: pointer;
}
table {
	width:100%;
	margin:15px 0;
	border:0;
}
th {
	background-color:#FFFFFF;
	color:#000000;
	height: 60px;
}
table,th,td {
	font-size:0.95em;
	text-align:center;
	padding: 10px 20px;
	border-collapse:collapse;
}
th,td {
	border: 1px solid #0085C3;
	border-width:1px 0 1px 0
}
tr {
	border: 1px solid #ffffff;
	background-color:#ffffff;
}
thead th {
	border-top: 0;
}
td .q-input {
	height: 30px;
	width: 35px;
	text-align: center;
}
td img {
	float: left;
	margin: 0 45px;
}
td p {
	float: left;
}

div.table-footer p {
	float: left;
	margin-right: 50px;
	margin-left: 33px;
}
div.table-footer div {
	float: right;
	color: white;
	padding: 5px 40px;
	cursor: pointer;
}
div.table-footer {
	margin-top: 40px;
	background-color: gainsboro;
}
div.table-footer p,div.table-footer div {
	line-height: 40px;
}
div.table-footer .chooseNum,div.table-footer .totalPrice {
	font-size: 22px;
	color: #e3101e;
}

